.completedChallengesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #D7D8DA;
    font-weight: 500;
}

.completedChallengesContainer span:first-child {
    font-size: 1.25em;
}

.completedChallengesContainer span:last-child {
    font-size: 1.5em;
}